@charset "utf-8";
/* CSS Document */
/* All header and navigation styling*/
header{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1000;
	display: flex;
	justify-content: space-between;
	align-content: center;
	transition: 0.3s;
}
header .logo{
	height: auto;
	width: 300px;
	margin: 1%;
}
header ul{
	margin: 1%;
	position: relative;
	display: flex;
}
header ul li{
	position: relative;
	list-style-type: none;
}
header ul li a{
	position: relative;
	display: inline-block;
	margin: 0 15px;
	color: #fff;
	text-decoration: none;
}
.active {
	text-decoration: underline;
}
