@charset "utf-8";
/* CSS Document */
/*Media queries for responsive design for smaller screens*/
@media (max-width: 991px){
	header,
	header.sticky{
		padding: 20px 50px;
	}
	.countdown{
		background-size: contain;
		background-position: bottom left;
	}
	.menu{
		display: none;
	}
	section{
		padding: 100px 50px;
	}
	.content{
		flex-direction: column;
	}
	.nasaArt{
		display: block;
	}
	footer .footerMenu p{
		font-size: 18px;
	}
	footer .footerMenu{
		margin: 1%;
		display: flex;
		position: relative;
	}
	footer .footerMenu li{
		position: relative;
		list-style-type: none;
	}
	footer .footerMenu li a{
		text-decoration: none;
		display: inline-block;
		color: #333;
		padding: 1%;
	}
}