@charset "utf-8";
/* CSS Document */

/*General items global*/
section{
	padding: 15%;
	background-color: #111;
	min-height: 50vh;
}
section.info{
	background-color: #333;
}
.countdown{
	background-image: url("../img/dragon-launch-pod.png");
	background-size: 900px;
	background-repeat: no-repeat;
	background-position: bottom left;
}
.info{
	background-image: url("../img/starship.jpg");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: bottom right;
}
.launch{
	background-color: #111111
}
.heading{
	width: 100%;
	text-align: center;
	margin-bottom: 3%;
	color: #ddd;
}
h1{
	color: #ddd;
	font-weight: 1000;
	font-size: 42px;
}
h2{
	color: #ddd;
	font-weight: 800;
	font-size: 36px;
}
h3{
	color: #ddd;
	font-size: 32px;
	font-weight: 600;
}
p{
	color: #ddd;
	font-size: 24px;
	font-weight: 200;
	padding: 0 1%;
}
/*Countodwn styling*/
.cd{
	margin: 0 auto;
	max-width: 600px;
}
.cd p{
	font-size: 60px;
	font-weight: 800;
}
.content{
	display: flex;
	justify-content: space-between;
}
.textBx{
	justify-content: space-between;
}
.container {
	color: #ddd;
}
.content .launchCard{
	border-bottom: 1px solid rgba(256,256,256,0.8);
	max-width: 40%;
	margin: 0 auto;
}
.details{
	border-bottom: 1px solid rgba(256,256,256,0.8);
}
.details img{
	min-width: 30%;
	padding: 1%;
}
footer p{
	color: #111
}
footer .footerMenu{
	display: none;
}
/*Various segments of site*/
.infoBx {
	display: flex;
	justify-content: space-between;
	max-width: 600px;
	font-size: 32px;
	font-weight: 900;
}
.oldLaunchBtn {
	border: 1px solid rgba(0,0,0,0.5);
	border-radius: 10px;
	padding: 5px 20px;
	color: #111;
	background-color: #ddd;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 3px;
	font-size: 24px;
}
.launchCard {
	margin: 1%;
}
.launchBtn {
	margin: 0 auto;
	margin-top: 1%;
}
.nasaArt{
	display: flex;
}
.articleImg{
	height: 400px;
}
.subInfo {
	max-width: 600px;
	margin: 0 auto;
}
.contactBx {
	margin: 0 auto;
}
.contactBx input[type="text"],
.contactBx input[type="submit"]{
	width: 100%;
	padding: 1em;
	margin: 1%;
}
.contactBx input[type="submit"]{
	padding: 1.5em;
	border-radius: 20px;
	text-transform: uppercase;
	letter-spacing: 2px;
	color: #111;
	cursor: pointer;
}

.launchCardOld {
	max-width: 40%;
	margin: 0 auto;
}
