@charset "utf-8";
/* CSS Document */
section{
	padding: 15%;
	background-color: #111;
	min-height: 50vh;
}
section.info{
	background-color: #333;
}
.launch{
	background-color: #111111
}
.heading{
	width: 100%;
	text-align: center;
	margin-bottom: 3%;
	color: #ddd;
}
h1{
	color: #ddd;
	font-weight: 1000;
	font-size: 42px;
}
h2{
	color: #ddd;
	font-weight: 800;
	font-size: 36px;
}
h3{
	color: #ddd;
	font-size: 32px;
	font-weight: 600;
}
p{
	color: #ddd;
	font-size: 24px;
	font-weight: 200;
	padding: 0 1%;
}
.cd{
	margin: 0 auto;
	max-width: 600px;
}
.cd p{
	font-size: 60px;
	font-weight: 800;
}
.content{
	display: flex;
	justify-content: space-between;
}
.textBx{
	justify-content: space-between;
}
.container {
	color: #ddd;
}
.details{
	display: flex;
	padding: 1%;
	border-bottom: 1px solid rgba(256,256,256,0.8);
}
.details img{
	max-height: 500px;
	padding: 1%;
}
footer p{
	color: #111
}
.infoBx {
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
	font-size: 32px;
	font-weight: 900;
}
.oldLaunchBtn {
	border: 1px solid rgba(0,0,0,0.5);
	padding: 5px 20px;
	color: #eee;
	text-decoration: none;
	font-size: 24px;
}
.launchCard {
	margin: 1%;
}
.launchBtn {
	margin: 0 auto;
}
#contact {
	min-width: 60%;
}

.contactInfo {
	min-width: 40%;
}
